div, table, h1, h2, h3, label, nav{
  font-size: 1.2em;
}

table {
  margin-top : 50px;
}

.more {
  padding: 0.2em;
}

#login{
  padding:1.5em;
}

.btn-sm{
  width: 200px;
  heigth: 200px;
  padding: 1.1em;
}

.navbar-toggler-icon{
  width: 2em;
  heigth: 2em;
}

nav{
  heigth:10em;
  border: 2em;
}

@media (min-width: 992px){
  div, table, h1, h2, h3, label, nav {
    font-size: 1.1em;
  }

  table {
    margin-top : 40px;
  }

  .more {
    padding: 0.1em;
  }

  #login{
    padding:1em;
  }

  .btn-sm{
    width: 150px;
    heigth: 150px;
    padding: 0.9em;
  }
}

@media (min-width: 1200px){
  div, table, h1, h2, h3, label, nav{
    font-size: 1.1em;
  }

  table {
    margin-top : 30px;
  }

  .more {
    padding: 0em;
    width:20px;
    heigth : 20px;
  }

  #login{
    padding:0.5em;
  }

  .btn-sm{
    width: 100px;
    heigth: 100px;
    padding: 0.7em;
  }
}
